<%- include('partials/header.ejs') %>

  <section id="detalhes">

    <h2>Ivysaur <spam>#2</spam>
    </h2>

    <p id="detipo">
      Grass
    </p>

    <div id="desc-content">

      <div id="desc-img">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/002.png" alt="Imagem do Pokemon">
      </div>

      <div id="desc-box">
        <p>
          When the bulb on its back grows large, it appears to lose the ability to stand on its hind legs.
        </p>
        <div id="atributos">
      
          <h3>Altura</h3>
          <p>
            7' 30"
          </p>

          <h3>Peso</h3>
          <p>
            17.5 lbs
          </p>

          <h3>Categoria</h3>
          <p>
            Lizard
          </p>

          <h3>Habilidade</h3>
          <p>
            Blaze
          </p>

        </div>
  
      </div>

    </div>

  </section>

<%- include('partials/footer.ejs') %>