<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokédex</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="imagem/png" href="/img/pokeball.png">
</head>

<body>
  <header>
    <div id="titulo">
      <img src="/img/pokebola.png" alt="Pokebola">
      <h1>Pokédex</h1>
    </div>
  </header>

  <main>
    <section id="main-section">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/cadastro">Cadastrar</a> </li>
        </ul>
      </nav>

      <section id="content">