<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokédex</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="imagem/png" href="/img/pokeball.png">
</head>

<body>
  <header>
    <div id="titulo">
      <img src="/img/pokebola.png" alt="Pokebola">
      <h1>Pokédex</h1>
    </div>
  </header>
  
  <main>
    <section id="main-section">
      <nav>
        <ul>
          <li>Home</li>
          <li>Cadastrar</li>
          <li>Home</li>
        </ul>
      </nav>
  
      <section id="content">
        <% pokedex.forEach((pokemon)=> { %>
        
          <div class="cards">
            <img src="<%= pokemon.imagem %>" alt="Imagem do Pokemon">
            <h2>
              <%= pokemon.nome %>
            </h2>
            <p class="tipo">
              <%= pokemon.tipo%>
                </p>
          </div>
          
          <% })%>
      </section>
  
  
    </section>
  
  </main>
  
</body>

</html>