@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: Pokemon;
  src: url('/font/Pokemon\ Solid.ttf');
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial;
}

html {
  background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,0,0,1) 50%);
  background-repeat: no-repeat;
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  justify-content: center;

}

body{
  width: 90%;
  height: 100%;
  
}

div#titulo{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

div#titulo h1 {
  font-family: Pokemon, Arial;
  color: #ffcc01;
  -webkit-text-stroke-width: 2px; /* largura da borda */
  -webkit-text-stroke-color: #3264b0; /* cor da borda */
  font-size: 4rem;
  letter-spacing: .4rem;
}

div#titulo img{
  width: 80px;
  margin: 0 2.5rem 0 7rem;
}

section#main-section{
  background-color: #fff;
  box-shadow: .1rem .1rem 1rem .2rem;
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
}

section#main-section nav{
  width: 100%;
  align-self: center;
  justify-self: center;
  border-bottom: 1px solid #00000020;
  background-color: #54b564;
}

section#main-section nav ul{
  display: flex;
  justify-content: center;
}

section#main-section nav ul li{
  list-style-type: none;
  width: 5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #00000015;
}

section#main-section nav ul li:hover{
  background-color: #ffcc01;
}

section#main-section nav ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 1rem;
}

section#content{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  padding-bottom: 1.3rem;
  

}

section#content div.cards{
  width: 20rem;
  box-shadow: 5px 5px 5px 5px #00000015;
  padding: 1rem;
}

section#content div.cards img{
  width: 100%;
}

section#content div.cards h2, .tipo{
  margin-bottom: 1rem;
}

section#cadastro{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
}

section#cadastro h2{
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 2rem;
}

section#cadastro form{
  width: 70%;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

section#cadastro form input{
  width: 100%;
  padding: .7rem;
  font-size: 1rem;
  outline: none;
  border: 2px solid rgb(189, 189, 189);
  margin-bottom: 1rem;
}

section#cadastro form label{
  color:rgb(63, 63, 63);
  width: 100%;
  margin-bottom: 1rem;
}